
<div class="container mt-5">
    <div class="row">
        <div class="text-center">
            <img src="/assets/acui.png" alt="Logo" width="20%">
        </div>
        <h3 class="text-center">Our Company - Acutec</h3>
        <span>For more than a decade, We, at Acutec have developed smart, technology-enabled solutions
             to solve our client’s toughest challenges, demonstrating our commitment to excellence and
            passion for exceeding expectations. Our team members are having deep technology & domain 
            knowledge for integrating SWIFT, NEFT, RTGS, NGRTGS, Host-to-Host NACH, ABPS, Mandate Management
            System, AML with Financial Intelligence Unit Reporting System, Crypto-tool (which appends UMAC to
            transaction messages ) with bank's back office system) using holistic approach for transaction management
            in terms of error handling, liquidity management, data localization with ease of reconciliation.</span>
    </div>
    <div class="col-md-12 mt-5">
        <div class="row">
            <div class="col-md-6 bg-primary bg-info">
                <span>Acutec is powered with experienced delivery management, expert architects,
                ardent designers, and zealous developers who share a single passion to make robust
                and user friendly application with innovative approaches. Acutec has proven track record 
                of develop and delivering the enterprise application on time with quality.</span>
       
                <span class="mt-5">Our agency can only be as strong as our people and because of this, our team have own businesses, changing products,
                    consulted for companies and competed collegiately and professionally when it comes to deliverables.</span>
            </div>
            <div class="col-md-6 bg-secondary">
                <div class="container">

              <h3 class="text-center">Our Clients</h3>
                <ul class="mx-5">
                    <li>Capital Small Finance Bank</li>
                    <li>Dena Bank</li>
                    <li>CCIL</li>
                    <li>RBL</li>
                    <li>SBM</li>
                    <li>GP Parsik Bank</li>
                    <li>VTB</li>
                    <li>FAB</li>
                    <li>IFTAS</li>
                </ul>
            </div>
        </div>
    </div>
</div>
