<footer class="bg-body-tertiary" style="background-color: #fff !important;">
  <div class="container pt-4">
    
  </div>
  <div class="p-3" style="background-color: rgba(107, 96, 96, 0.507);">

    <div class="row">
       
      <div class="col-4">
        <h4>About Us</h4>
        Acutec Global Services LLP is one of the most preferred software solution provider,
        headquartered in Noida, and registered office in New Delhi, India. In last 13 years,
        we have emerged as an indispensable business partner to many of our clients by offering
        customized solutions.
      </div>
      <div class="col-4">
        <h5>Services</h5>
         <span> Payment Gateway Implementation
          Annual Technical Support</span>
      </div>
      <div class="col-4">
       <h5>Products</h5>
        <div>Payment Middleware NGRTGS</div>
        <div>Payment Middleware NACH H2H</div>
        <div>Payment Hub with Liquidity Manager</div>
        <div>Anti-Money Laundering Solution</div>
        <div>Message Manager</div>
        <div>Crypto Tool Kits</div>
        <div>Bulk Upload Automation</div>
      </div>
    </div>
    
    
   
  </div>
 
</footer>

    