<nav class="navbar navbar-expand-lg nav-class">
  <div class="container-fluid">
    <img src="/assets/logo.png" alt="Logo" width="85px">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li *ngIf="isLoggedIn" class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li *ngIf="isLoggedIn" class="nav-item">
          <a class="nav-link" routerLink="about">About</a>
        </li>
         <li *ngIf="isLoggedIn" class="nav-item">
          <a class="nav-link" routerLink="newEmp">Emp List</a>
        </li>
        
        <li *ngIf="!isLoggedIn" class="nav-item">
          <a class="nav-link" routerLink="login">Login</a>
        </li>
        <li class="nav-item" *ngIf="!isLoggedIn">
          <a class="nav-link" routerLink="register">Signup</a>
        </li>

      </ul>
     
      <ul class="nav navbar-nav ms-auto">
        <li *ngIf="isLoggedIn" class="nav-item d-flex align-items-center">
          <a class="nav-link" href="#">
            <fa-icon [icon]="faUser"></fa-icon> {{ currentUser?.uName }}
          </a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn">
          <a class="nav-link" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
