.nav-class{
    /* background-color: hwb(0 0% 96% / 0.938); */
  background-color:rgb(30, 121, 102) !important; 
}

.navbar .nav-link {
  color: white !important;
}

nav {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

html {
  scroll-behavior: smooth;
}
