<nav class="d-flex flex-column vh-100 p-3" style="width: 250px; background-color: #00f6ffa8;">
  <ul class="nav nav-pills flex-column">
    <li class="nav-item mb-2">
      <a routerLink="home">Home</a>
    </li>
    <li class="nav-item mb-2">
      <a class="nav-link" routerLink="home">Features</a>

    </li>
    <li class="nav-item mb-2">
      <a class="nav-link" href="#">Pricing</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled">Disabled</a>
    </li>
  </ul>
  <a routerLink="home" class="btn btn-success">Test Home Link</a>

</nav>
