<section class="vh-100 gradient-custom">
  <div class="container py-5">
    <div class="row">
      <div class="col-12">
        <button class="btn btn-sm btn-success" (click)="isListView = !isListView">{{isListView ? 'New':'List'}}</button>
      </div>
    </div>

    <div *ngIf="isListView" class="row justify-content-center align-items-center h-100">
      <div class="col-12">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Sr No</th>
              <th>Name</th>
              <th>Department</th>
              <th>Email ID</th>
              <th>Phone Number</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let emp of employeeList; let sr=index">
              <td>{{sr+1}}</td>
              <td>{{emp.fName}} {{emp.lName}}</td>
              <td>{{emp.department}}</td>
              <td>{{emp.email}}</td>
              <td>{{emp.ph_number}}</td>
              <td><button class="btn btn-warning" (click)="openEditModal(emp)">Edit</button>/
                <button class="btn btn-danger" (click)="deleteEmployee(emp)">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div *ngIf="!isListView" class="row justify-content-center align-items-center">
      <div class="col-12 col-9 col-xl-7">
        <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-5 text-center bg-primary text-white rounded p-1">
              Registration Form
            </h3>
            <!-- <button class="btn btn-secondary justify-content-center"> Registration Form</button> -->
            <div class="row">
              <div class="col-md-6 mb-4">

                <div data-mdb-input-init class="form-outline">
                  <input type="text" [(ngModel)]="empObj.fName" id="firstName" class="form-control form-control" />
                  <label class="form-label" for="firstName">First Name</label>
                </div>
              </div>
              <div class="col-md-6 mb-4">
                <div data-mdb-input-init class="form-outline">
                  <input type="text" [(ngModel)]="empObj.lName" id="lastName" class="form-control form-control" />
                  <label class="form-label" for="lastName">Last Name</label>
                </div>

              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mb-4 d-flex align-items-center">
                <select [(ngModel)]="empObj.department" class="select form-control">
                  <option value="">Choose Department</option>
                  <option *ngFor="let dept of departments" [value]="dept.deptName">{{dept.deptName}}</option>
                </select>

              </div>
              <div class="col-md-6 mb-4">
                <h6 class="mb-2 pb-1">Gender: </h6>

                <div class="form-check form-check-inline">
                  <input [(ngModel)]="empObj.gender" class="form-check-input" type="radio" name="gender"
                    id="femaleGender" value="Female" />
                  <label class="form-check-label" for="femaleGender">Female</label>
                </div>

                <div class="form-check form-check-inline">
                  <input [(ngModel)]="empObj.gender" class="form-check-input" type="radio" name="gender" id="maleGender"
                    value="Male" />
                  <label class="form-check-label" for="maleGender">Male</label>
                </div>

                <div class="form-check form-check-inline">
                  <input [(ngModel)]="empObj.gender" class="form-check-input" type="radio" name="gender"
                    id="otherGender" value="Other" />
                  <label class="form-check-label" for="otherGender">Other</label>
                </div>

                
                <p class="mt-2">Selected: {{ empObj.gender }}</p>
              </div>

            </div>
            <div class="row">
              <div class="col-md-6 pb-2">

                <div data-mdb-input-init class="form-outline">
                  <input [(ngModel)]="empObj.email" type="email" id="emailAddress" class="form-control form-control" />
                  <label class="form-label" for="emailAddress">Email</label>
                </div>

              </div>
              <div class="col-md-6 pb-2">

                <div data-mdb-input-init class="form-outline">
                  <input [(ngModel)]="empObj.ph_number" type="tel" id="phoneNumber" class="form-control form-control" />
                  <label class="form-label" for="phoneNumber">Phone Number</label>
                </div>

              </div>
            </div>
            <div class="pt-2">
              <input data-mdb-ripple-init class="btn btn-primary btn" (click)="createAndSaveEmp()" type="submit"
                value="Submit" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" #editModal tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editModalLabel">Edit Employee</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <div class="modal-body">
            <div class="row">
              <div class="col-md-6 mb-3">
                <label>First Name</label>
                <input type="text" [(ngModel)]="empObj.fName" class="form-control" />
              </div>
              <div class="col-md-6 mb-3">
                <label>Last Name</label>
                <input type="text" [(ngModel)]="empObj.lName" class="form-control" />
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 mb-3">
                <label>Department</label>
                <select [(ngModel)]="empObj.department" class="select form-control">
                  <option value="">Choose Department</option>
                  <option *ngFor="let dept of departments" [value]="dept.deptName">{{dept.deptName}}</option>
                </select>
              </div>

              <div class="col-md-6 mb-3">
                <label>Gender</label>
                <div class="form-check">
                  <input class="form-check-input" type="radio" [(ngModel)]="empObj.gender" name="gender" value="Male"
                    id="male" />
                  <label class="form-check-label" for="male">Male</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" [(ngModel)]="empObj.gender" name="gender" value="Female"
                    id="female" />
                  <label class="form-check-label" for="female">Female</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" [(ngModel)]="empObj.gender" name="gender" value="Other"
                    id="other" />
                  <label class="form-check-label" for="other">Other</label>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 mb-3">
                <label>Email</label>
                <input type="email" [(ngModel)]="empObj.email" class="form-control" />
              </div>
              <div class="col-md-6 mb-3">
                <label>Phone Number</label>
                <input type="tel" [(ngModel)]="empObj.ph_number" class="form-control" />
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" (click)="updateEmployee(empObj)">Save Changes</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>