    .login-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: hsla(47, 36%, 85%, 0.847);
    }
    .mat-mdc-card-title{
        text-align: center;
    }
    
    mat-card {
        width: 400px;
        padding: 20px;
    }
    mat-form-field {
        width: 100%;
        margin-bottom: 15px;
    }

    .custom-color{
    background-color:rgb(188, 241, 230) !important;
}